<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js" defer></script>

</head>
<body>
    <header>
        <div class="navbar edit-page-navbar bg-secondary">   
             <ul class="navbar-nav ml-auto">
                
                <div>
                <form method="POST" action="/logout">
                    <button type="submit"  method="POST" class="logout-button">Logout</button>
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                </form>
            </div>
        </ul>
        </div>
    </header>
       <main class="login-main">

        <section id="banner-edit-section">
    <div class="container pb-5">
        <h1 class="text-dark text-center pt-5">Páginas Principais</h1>
        <div class="row pb-5">
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">

                <div class="panel py-5">
                    <h5 class="card-header panel-header">
                        Index Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title instruction-title py-4">Atualizar Banner (selecione uma imagem 1920x1080 de formato .jpg ou .png):</div>
                        <form method="POST" action="/admin/banner-edit/?_csrf=<%= csrfToken %>" enctype="multipart/form-data" class="needs-validation">
                            <input id="file-1" class="file" type="file" name="file" required />
                            <input type="hidden" value="banner-1" id="pageName" name="pageName">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button type="submit" class="form-button login-button mt-4">Enviar</button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel py-5">
                    <h5 class="card-header panel-header">
                        Quem Somos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title instruction-title py-4">Atualizar Banner (selecione uma imagem 1920x1080 de formato .jpg ou .png):</div>
                        <form method="POST" action="/admin/banner-edit/?_csrf=<%= csrfToken %>" enctype="multipart/form-data" class="needs-validation" >
                            <input id="file-2" class="file" type="file" name="file" required />
                            <input type="hidden" value="banner-2" id="pageName" name="pageName">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button type="submit" class="form-button login-button mt-4">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel py-5">
                    <h5 class="card-header panel-header">
                        O Que Fazemos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title instruction-title py-4">Atualizar Banner (selecione uma imagem 1920x1080 de formato .jpg ou .png):</div>
                        <form method="POST" action="/admin/banner-edit/?_csrf=<%= csrfToken %>" enctype="multipart/form-data" class="needs-validation">
                            <input id="file-3" class="file" type="file" name="image" required/>
                            <input type="hidden" value="banner-3" id="pageName" name="pageName">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button type="submit" class="form-button login-button mt-4">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel py-5">
                    <h5 class="card-header panel-header">
                        RCInsights Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title instruction-title py-4">Atualizar Banner (selecione uma imagem 1920x1080 de formato .jpg ou .png):</div>
                        <form method="POST" action="/admin/banner-edit/?_csrf=<%= csrfToken %>" enctype="multipart/form-data" class="needs-validation">
                            <input id="file-4" class="file" type="file" name="file" required/>
                            <input type="hidden" value="banner-4" id="pageName" name="pageName">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button type="submit" class="form-button login-button mt-4">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
        <script>

            

            var formList = document.querySelectorAll('.needs-validation');
            for (form of formList) {
               
            form.addEventListener('submit', function(event) {
        
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }




                var formData = new FormData();
                form.classList.add('was-validated');
                const csrf = form.querySelector('#_csrf').value;
                // formData.append('_csrf', csrf);
                formData.append('file', form.querySelector('.file').files[0]);
                formData.append('pageName', form.querySelector('#pageName').value);
      
                fetch('https://rciexemplo.herokuapp.com/admin/banner-edit', 
                
                {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'csrf-token': csrf
                    }
                }
                )
                .then(
                    (res) => {
                        console.log(res);
                    }
                )

            })
            }
            
        </script>
            <%- include('../includes/end.ejs'); %>
