<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script type="text/javascript" src="/js/admin.js"></script>
    </head>

    <body>
        <header>
            <div class="navbar edit-page-navbar bg-secondary">
                <ul class="navbar-nav ml-auto">
                    <div>
                        <form method="POST" action="/logout">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" method="POST" class="logout-button">Logout</button>
                        </form>
                    </div>
                </ul>
            </div>
        </header>
        <main class="login-main">
            <section id="banner-edit-section">
                <div class="container pb-5">
                    <h1 class="text-dark text-center pt-5">Páginas Principais</h1>
                    <div class="row pb-5">
                        <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                            <div class="panel py-5">
                                <h5 class="card-header panel-header">
                                    Index Page Banner
                                </h5>
                                <div class="card-body">
                                    <div class="card-title instruction-title py-4 mx-xl-5 px-lg-4 text-center">Atualizar
                                        Banner (selecione uma imagem 1920x1080 de formato .png)
                                        <div class="admin-warning banner-warning ml-1"
                                            title="A troca de banner pode levar alguns instantes até ser processada/visualizada na página!">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-edit" enctype="multipart/form-data"
                                        class="needs-validation">
                                        <input id="file-1" class="file" type="file" name="file" required
                                            accept="image/png" />
                                        <input type="hidden" value="1" id="pageNumber" name="pageNumber">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-4">
                                                <button type="submit"
                                                    class="form-button login-button mt-5">Enviar</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Texto do Banner
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir seu texto a 9-10 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-text-edit" class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <textarea id="banner-text-1" class="admin-textarea" name="banner-text"
                                                    required placeholder="<%= bannerStringArray[0] %>"
                                                    rows="5"><%= bannerStringArray[0] %></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" value="page-1" id="pageNumber" name="banner-text-number">
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>


                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Texto da Seção "Info"
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir seu texto a 20-25 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/index-info-section-edit"
                                        class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <textarea id="index-info-section" class="admin-textarea"
                                                    name="index-info-section" required
                                                    placeholder="<%= indexInfoSectionText %>"
                                                    rows="8"><%= indexInfoSectionText %></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>


                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Seção "Perks"
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir o texto de cada Perk a 17-20 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <select class="perk-select">
                                        <option value="perk-1">
                                            <%= perks[0] %>
                                        </option>
                                        <option value="perk-2">
                                            <%= perks[1] %>
                                        </option>
                                        <option value="perk-3">
                                            <%= perks[2] %>
                                        </option>
                                    </select>
                                    <form method="POST" action="/admin/index-perks-edit" class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <textarea id="index-info-section" class="admin-textarea" name="index-info-section" required placeholder="<%= indexInfoSectionText %>" rows="8"><%= indexInfoSectionText %></textarea> -->
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <div class="perk-group-1">
                                                    <input name="perk-1-title" type="text"
                                                        class="form-control perk-title-control mt-4" required
                                                        placeholder="<%= perks[0] %>" value="<%= perks[0] %>">
                                                    <textarea id="perk-1-content"
                                                        class="admin-textarea perk-title-content mt-4"
                                                        name="perk-1-content" required
                                                        placeholder="<%= perksContent[0] %>"
                                                        rows="8"><%= perksContent[0] %></textarea>
                                                </div>
                                                <div class="perk-group-2">
                                                    <input name="perk-2-title" type="text"
                                                        class="form-control perk-title-control mt-4" required
                                                        placeholder="<%= perks[1] %>" value="<%= perks[1] %>">
                                                    <textarea id="perk-2-content"
                                                        class="admin-textarea mt-4 perk-title-content"
                                                        name="perk-2-content" required
                                                        placeholder="<%= perksContent[1] %>"
                                                        rows="8"><%= perksContent[1] %></textarea>
                                                </div>
                                                <div class="perk-group-3">
                                                    <input name="perk-2-title" type="text"
                                                        class="form-control perk-title-control mt-4" required
                                                        placeholder="<%= perks[2] %>" value="<%= perks[2] %>">
                                                    <textarea id="perk-2-content"
                                                        class="admin-textarea mt-4 perk-title-content"
                                                        name="perk-3-content" required
                                                        placeholder="<%= perksContent[2] %>"
                                                        rows="8"><%= perksContent[2] %></textarea>
                                                </div>



                                            </div>
                                        </div>
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                            <div class="panel py-5">
                                <h5 class="card-header panel-header">
                                    Quem Somos Page Banner
                                </h5>
                                <div class="card-body">
                                    <div class="card-title instruction-title py-4 mx-xl-5 px-lg-4 text-center">Atualizar
                                        Banner (selecione uma imagem 1920x1080 de formato .png)
                                        <div class="admin-warning banner-warning ml-1"
                                            title="A troca de banner pode levar alguns instantes até ser processada/visualizada na página!">
                                        </div>

                                    </div>
                                    <form method="POST" action="/admin/banner-edit" enctype="multipart/form-data"
                                        class="needs-validation">
                                        <input id="file-2" class="file" type="file" name="file" required
                                            accept="image/png" />
                                        <input type="hidden" value="2" id="pageNumber" name="pageNumber">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-4">
                                                <button type="submit"
                                                    class="form-button login-button mt-5">Enviar</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Texto do Banner
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir seu texto a 10-11 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-text-edit/?_csrf=<%= csrfToken %>"
                                        class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <textarea id="banner-text-2" class="admin-textarea" name="banner-text"
                                                    required placeholder="<%= bannerStringArray[1] %>"
                                                    rows="5"><%= bannerStringArray[1] %></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" value="page-2" name="banner-text-number">
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                            <div class="panel py-5">
                                <h5 class="card-header panel-header">
                                    O Que Fazemos Page Banner
                                </h5>
                                <div class="card-body">
                                    <div class="card-title instruction-title py-4 mx-xl-5 px-lg-4 text-center">Atualizar
                                        Banner (selecione uma imagem 1920x1080 de formato .png)
                                        <div class="admin-warning banner-warning ml-1"
                                            title="A troca de banner pode levar alguns instantes até ser processada/visualizada na página!">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-edit" enctype="multipart/form-data"
                                        class="needs-validation">
                                        <input id="file-3" class="file" type="file" name="file" required
                                            accept="image/png" />
                                        <input type="hidden" value="3" id="pageNumber" name="pageNumber">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-4">
                                                <button type="submit"
                                                    class="form-button login-button mt-5">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Texto do Banner
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir seu texto a 9-10 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-text-edit/?_csrf=<%= csrfToken %>"
                                        class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <textarea id="banner-text-3" class="admin-textarea" name="banner-text"
                                                    required placeholder="<%= bannerStringArray[2] %>"
                                                    rows="5"><%= bannerStringArray[2] %></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" value="page-3" name="banner-text-number">
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                            <div class="panel py-5">
                                <h5 class="card-header panel-header">
                                    RCInsights Page Banner
                                </h5>
                                <div class="card-body">
                                    <div class="card-title instruction-title py-4 mx-xl-5 px-lg-4 text-center">Atualizar
                                        Banner (selecione uma imagem 1920x1080 de formato .png)
                                        <div class="admin-warning banner-warning ml-1"
                                            title="A troca de banner pode levar alguns instantes até ser processada/visualizada na página!">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-edit" enctype="multipart/form-data"
                                        class="needs-validation">
                                        <input id="file-4" class="file" type="file" name="file" required
                                            accept="image/png" />
                                        <input type="hidden" value="4" id="pageNumber" name="pageNumber">
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-4">
                                                <button type="submit"
                                                    class="form-button login-button mt-5">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <hr class="admin-line-divisor">
                                <div class="card-body">
                                    <div class="card-title instruction-title pt-2 pb-4 mx-xl-5 px-lg-4 text-center">
                                        Atualizar Texto do Banner
                                        <div class="admin-warning banner-warning ml-1"
                                            title="Tente restringir seu texto a 12-13 palavras, por razões de espaçamento.">
                                        </div>
                                    </div>
                                    <form method="POST" action="/admin/banner-text-edit/?_csrf=<%= csrfToken %>"
                                        class="needs-validation">
                                        <div class="row">
                                            <div class="col">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <textarea id="banner-text-4" class="admin-textarea" name="banner-text"
                                                    required placeholder="<%= bannerStringArray[3] %>"
                                                    rows="5"><%= bannerStringArray[3] %></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" value="page-4" name="banner-text-number">
                                        <button type="submit" class="form-button login-button mt-4">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('../includes/end.ejs'); %>