<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/admin.js" defer></script>
<script type="text/javascript" src="js/pekeUpload.js"></script>
</head>
<body>
    <header>
        <div class="navbar edit-page-navbar bg-secondary">   
             <ul class="navbar-nav ml-auto">
                <div class=" fake-button">
                <form action="/banner-edit" method="POST">
                    <button type="submit" action="/logout" method="POST">Logout</button>
                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                </form>
            </div>
        </ul>
        </div>
    </header>
       <main class="login-main" style="height: 100vh !important;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">

                <div class="panel">
                    <h5 class="card-header">
                        Index Page Banner
                        
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit" method="POST">
                        <input id="file-1" type="file" name="banner-1"/>
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel">
                    <h5 class="card-header">
                        Quem Somos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit" method="POST">
                            <input id="file-2" type="file" name="banner-2"/>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel">
                    <h5 class="card-header">
                        O Que Fazemos Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit" method="POST">
                            <input id="file-3" type="file" name="banner-3"/>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0 my-5 text-center">
                <div class="panel">
                    <h5 class="card-header">
                        RCInsights Page Banner
                    </h5>
                    <div class="card-body">
                        <div class="card-title">Atualizar Banner (selecione uma imagem):</div>
                        <form action="/banner-edit" method="POST">
                            <input id="file-4" type="file" name="banner-4"/>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
        <script>
            var form = document.querySelector('.needs-validation');
        
            form.addEventListener('submit', function(event) {
        
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
        
                form.classList.add('was-validated');
            })
        </script>
</body>